<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timbo</title>
  <link rel="stylesheet" href="/timbo/public/css/style.css">
</head>
<body>
  <header class="header">
    <div class="header__content container">
      <img
        src="/timbo/public/img/timbo-logo.png"
        alt="Logo del restaurante. Gran Parrillada Timbó escrito con letras rojas cuadriculadas dentro de un espacio ovalado, con borde grueso de color turquesa."
        class="header-logo"
      />
      <div class="header__controls">
        <form action="#" method="POST">
          <div class="header-search-wrapper">
            <input class="header-search" type="search" name="term" id="term" placeholder="Buscar menú">
          </div>
        </form>
        <a class="header-login-link" href="#">Iniciar Sesión o Registrarse</a>
        <button class="header__cart-btn">
          <img src="/timbo/public/img/cart-icon.svg" aria-hidden="true" alt="Ícono de carrito">
        </button>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <h1>Carta</h1>
      <ul class="menu-tabs" role="list">
        <li class="menu-tab">
          <img src="/timbo/public/img/pizza-icon.svg" alt="Ícono" aria-hidden="true" class="menu-tab__icon">
          <a href="#" class="menu-tab__link">Entradas</a>
        </li>
        <li class="menu-tab">
          <img src="/timbo/public/img/pizza-icon.svg" alt="Ícono" aria-hidden="true" class="menu-tab__icon">
          <a href="#" class="menu-tab__link">Sopa</a>
        </li>
        <li class="menu-tab">
          <img src="/timbo/public/img/pizza-icon.svg" alt="Ícono" aria-hidden="true" class="menu-tab__icon">
          <a href="#" class="menu-tab__link">Ensalada</a>
        </li>
        <li class="menu-tab">
          <img src="/timbo/public/img/pizza-icon.svg" alt="Ícono" aria-hidden="true" class="menu-tab__icon">
          <a href="#" class="menu-tab__link">Pollos al Fogón / Salón</a>
        </li>
        <li class="menu-tab">
          <img src="/timbo/public/img/pizza-icon.svg" alt="Ícono" aria-hidden="true" class="menu-tab__icon">
          <a href="#" class="menu-tab__link">Menú Especial</a>
        </li>
        <li class="menu-tab">
          <img src="/timbo/public/img/pizza-icon.svg" alt="Ícono" aria-hidden="true" class="menu-tab__icon">
          <a href="#" class="menu-tab__link">Guarniciones</a>
        </li>
        <li class="menu-tab">
          <img src="/timbo/public/img/pizza-icon.svg" alt="Ícono" aria-hidden="true" class="menu-tab__icon">
          <a href="#" class="menu-tab__link">Postres</a>
        </li>
        <li class="menu-tab">
          <img src="/timbo/public/img/pizza-icon.svg" alt="Ícono" aria-hidden="true" class="menu-tab__icon">
          <a href="#" class="menu-tab__link">Criollo</a>
        </li>
        <li class="menu-tab">
          <img src="/timbo/public/img/pizza-icon.svg" alt="Ícono" aria-hidden="true" class="menu-tab__icon">
          <a href="#" class="menu-tab__link">Cafetería</a>
        </li>
      </ul>
      <h2>Escoger Platillo</h2>
      <section class="products">
        <article class="product">
          <img src="/timbo/public/img/food-image-2.webp" alt="Imagen de Producto" class="product__img">
          <div class="product__detail">
            <h3 class="product__title">Producto</h3>
            <p class="product__description">Producto</p>
            <p class="product__price">S/49.90</p>
          </div>
          <a href="#" class="product__btn btn btn-primary">
            Agregar
          </a>
        </article>
        <article class="product">
          <img src="/timbo/public/img/food-image-2.webp" alt="Imagen de Producto" class="product__img">
          <div class="product__detail">
            <h3 class="product__title">Producto</h3>
            <p class="product__description">Producto</p>
            <p class="product__price">S/49.90</p>
          </div>
          <a href="#" class="product__btn btn btn-primary">
            Agregar
          </a>
        </article>
        <article class="product">
          <img src="/timbo/public/img/food-image-2.webp" alt="Imagen de Producto" class="product__img">
          <div class="product__detail">
            <h3 class="product__title">Producto</h3>
            <p class="product__description">Producto</p>
            <p class="product__price">S/49.90</p>
          </div>
          <a href="#" class="product__btn btn btn-primary">
            Agregar
          </a>
        </article>
        <article class="product">
          <img src="/timbo/public/img/food-image-2.webp" alt="Imagen de Producto" class="product__img">
          <div class="product__detail">
            <h3 class="product__title">Producto</h3>
            <p class="product__description">Producto</p>
            <p class="product__price">S/49.90</p>
          </div>
          <a href="#" class="product__btn btn btn-primary">
            Agregar
          </a>
        </article>
        <article class="product">
          <img src="/timbo/public/img/food-image-2.webp" alt="Imagen de Producto" class="product__img">
          <div class="product__detail">
            <h3 class="product__title">Producto</h3>
            <p class="product__description">Producto</p>
            <p class="product__price">S/49.90</p>
          </div>
          <a href="#" class="product__btn btn btn-primary">
            Agregar
          </a>
        </article>
        <article class="product">
          <img src="/timbo/public/img/food-image-2.webp" alt="Imagen de Producto" class="product__img">
          <div class="product__detail">
            <h3 class="product__title">Producto</h3>
            <p class="product__description">Producto</p>
            <p class="product__price">S/49.90</p>
          </div>
          <a href="#" class="product__btn btn btn-primary">
            Agregar
          </a>
        </article>
        <article class="product">
          <img src="/timbo/public/img/food-image-2.webp" alt="Imagen de Producto" class="product__img">
          <div class="product__detail">
            <h3 class="product__title">Producto</h3>
            <p class="product__description">Producto</p>
            <p class="product__price">S/49.90</p>
          </div>
          <a href="#" class="product__btn btn btn-primary">
            Agregar
          </a>
        </article>
        <article class="product">
          <img src="/timbo/public/img/food-image-2.webp" alt="Imagen de Producto" class="product__img">
          <div class="product__detail">
            <h3 class="product__title">Producto</h3>
            <p class="product__description">Producto</p>
            <p class="product__price">S/49.90</p>
          </div>
          <a href="#" class="product__btn btn btn-primary">
            Agregar
          </a>
        </article>
        
      </section>
    </div>
  </main>
  <footer class="footer">
    <section class="footer-content">
      <div class="footer-item">
        <p>Las mejores parrillas y pollos a la brasa con el toque tradicional de siempre, desde 1974.</p>
        <img
          src="/timbo/public/img/timbo-logo.png"
          alt="Logo del restaurante. Gran Parrillada Timbó escrito con letras rojas cuadriculadas dentro de un espacio ovalado, con borde grueso de color turquesa."
          class="footer-logo"
        >
      </div>
      <div class="footer-item">
        <h4 class="footer-item__title">Enlaces</h4>
        <ul class="footer-links" role="list">
          <li>
            <a class="footer-link" href="/timbo/">Home</a>
          </li>
          <li>
            <a class="footer-link" href="/timbo/">Carta</a>
          </li>
          <li>
            <a class="footer-link" href="/timbo/login/">Iniciar Sesión</a>
          </li>
          <li>
            <a class="footer-link" href="/timbo/register/">Registrarse</a>
          </li>
        </ul>
      </div>
      <div class="footer-item">
        <h4 class="footer-item__title">Libro de Reclamaciones</h4>
        <ul class="footer-links" role="list">
          <li>
            <a class="footer-link" href="#">Ingresar un Reclamo</a>
          </li>
        </ul>
      </div>
      <div class="footer-item">
        <h4 class="footer-item__title">Encuesta de Satisfacción</h4>
        <ul class="footer-links" role="list">
          <li>
            <a class="footer-link" href="#">Ir a la Encuesta</a>
          </li>
        </ul>
      </div>
      <div class="footer-item">
        <h4 class="footer-item__title">Síguenos en</h4>
        <ul class="footer-links" role="list">
          <li>
            <a class="footer-link" href="https://www.facebook.com/granparrilladatimbo/" aria-label="Facebook" target="_blank">
              <img src="/timbo/public/img/facebook-icon.svg" aria-hidden="true" alt="ícono de Facebook">
            </a>
          </li>
        </ul>
      </div>
    </section>
  </footer>
</body>
</html>
