<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timbo | Registro</title>
  <link rel="stylesheet" href="/timbo/public/css/style.css">
</head>
<body>
  <header class="header">
    <div class="header__content container">
      <img
        src="/timbo/public/img/timbo-logo.png"
        alt="Logo del restaurante. Gran Parrillada Timbó escrito con letras rojas cuadriculadas dentro de un espacio ovalado, con borde grueso de color turquesa."
        class="header-logo"
      />
      <div class="header__controls">
        <form action="#" method="POST">
          <div class="header-search-wrapper">
            <input class="header-search" type="search" name="term" id="term" placeholder="Buscar menú">
          </div>
        </form>
        <a class="header-login-link" href="#">Iniciar Sesión o Registrarse</a>
        <button class="header__cart-btn">
          <img src="/timbo/public/img/cart-icon.svg" aria-hidden="true" alt="Ícono de carrito">
        </button>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="auth-container">
        <h1 class="auth-container__title">Registrarse</h1>
        <form action="/timbo/register/user/" method="POST" class="auth-container__form">
          <div class="auth-container__field">
            <label for="email">Correo electrónico</label>
            <input type="text" name="email" id="email" placeholder="user@email.com" required>
          </div>
          <div class="auth-container__field">
            <label for="name">Nombres</label>
            <input type="text" name="name" id="name" placeholder="user@email.com" required>
          </div>
          <div class="auth-container__field">
            <label for="surname">Apellidos</label>
            <input type="text" name="surname" id="surname" placeholder="user@email.com" required>
          </div>
          <div class="auth-container__field">
            <label for="dni">DNI</label>
            <input type="text" name="dni" id="dni" placeholder="user@email.com" required>
          </div>
          <div class="auth-container__field">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
          </div>
          <button class="auth-container__btn" type="submit">Registrarse</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="/timbo/login/">Inicia Sesión</a>.</p>
      </div>
    </div>
  </main>
  <footer class="footer">
    <section class="footer-content">
      <div class="footer-item">
        <p>Las mejores parrillas y pollos a la brasa con el toque tradicional de siempre, desde 1974.</p>
        <img
          src="/timbo/public/img/timbo-logo.png"
          alt="Logo del restaurante. Gran Parrillada Timbó escrito con letras rojas cuadriculadas dentro de un espacio ovalado, con borde grueso de color turquesa."
          class="footer-logo"
        >
      </div>
      <div class="footer-item">
        <h4 class="footer-item__title">Enlaces</h4>
        <ul class="footer-links" role="list">
          <li>
            <a class="footer-link" href="/timbo/">Home</a>
          </li>
          <li>
            <a class="footer-link" href="/timbo/">Carta</a>
          </li>
          <li>
            <a class="footer-link" href="/timbo/login/">Iniciar Sesión</a>
          </li>
          <li>
            <a class="footer-link" href="/timbo/register/">Registrarse</a>
          </li>
        </ul>
      </div>
      <div class="footer-item">
        <h4 class="footer-item__title">Libro de Reclamaciones</h4>
        <ul class="footer-links" role="list">
          <li>
            <a class="footer-link" href="#">Ingresar un Reclamo</a>
          </li>
        </ul>
      </div>
      <div class="footer-item">
        <h4 class="footer-item__title">Encuesta de Satisfacción</h4>
        <ul class="footer-links" role="list">
          <li>
            <a class="footer-link" href="#">Ir a la Encuesta</a>
          </li>
        </ul>
      </div>
      <div class="footer-item">
        <h4 class="footer-item__title">Síguenos en</h4>
        <ul class="footer-links" role="list">
          <li>
            <a class="footer-link" href="https://www.facebook.com/granparrilladatimbo/" aria-label="Facebook" target="_blank">
              <img src="/timbo/public/img/facebook-icon.svg" aria-hidden="true" alt="ícono de Facebook">
            </a>
          </li>
        </ul>
      </div>
    </section>
  </footer>
</body>
</html>
